<h1>Menu Items</h1>
<div>
  <div>
    <h3>Create a Menu Item</h3>
    <a href="/items/new" class="btn">New App</a>
  </div>
</div>
<div>
  <div>
    <h3>View Menu</h3>
    <a href="/items" class="btn">Menu</a>
  </div>
</div>